<a href="https://colab.research.google.com/github/Rullyro/tubesandat/blob/main/tubesanalisisdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load Library

In [20]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.svm import SVC

Load Dataset

In [25]:
col_names = ['Sand %', 'Clay %', 'Silt %', 'pH', 'EC mS/cm', 'O.M. %', 'CACO3 %', 'N_NO3 ppm', 'P ppm', 'K ppm', 'Mg ppm', 'Fe ppm', 'Zn ppm', 'Mn ppm', 'Cu ppm', 'B ppm', 'Class']
feature_cols = ['Sand %', 'Clay %', 'Silt %', 'pH', 'EC mS/cm', 'O.M. %', 'CACO3 %', 'N_NO3 ppm', 'P ppm', 'K ppm', 'Mg ppm', 'Fe ppm', 'Zn ppm', 'Mn ppm', 'Cu ppm', 'B ppm']
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/tanahnew.csv")
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ID,Sand %,Clay %,Silt %,pH,EC mS/cm,O.M. %,CACO3 %,N_NO3 ppm,P ppm,K ppm,Mg ppm,Fe ppm,Zn ppm,Mn ppm,Cu ppm,B ppm,Class
0,1,42,38,20,5.16,0.27,3.78,0.00,14.46,18.61,147,1115,91.32,0.89,27.06,1.77,0.40,Tidak Optimal
1,2,54,26,20,6.07,0.36,1.45,0.00,14.59,32.74,180,1055,60.04,3.66,17.58,1.68,0.41,Optimal
2,3,28,36,36,6.92,0.68,1.77,0.40,14.91,19.02,183,1215,61.24,3.06,18.00,1.84,0.46,Optimal
3,4,58,20,22,7.70,0.36,0.72,6.80,4.21,6.28,116,327,19.54,1.64,5.04,0.84,0.50,Tidak Optimal
4,5,33,41,26,7.61,0.39,1.00,4.39,6.11,6.55,228,939,25.84,0.18,7.16,1.22,0.40,Tidak Optimal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,777,26,46,28,6.72,0.45,2.08,0.00,7.66,20.67,395,500,38.07,0.39,26.48,1.47,0.33,Optimal
777,778,40,28,32,7.79,0.34,1.38,30.00,5.20,4.14,286,154,12.79,0.24,6.33,0.60,0.12,Tidak Optimal
778,779,34,28,38,7.63,1.14,1.87,24.30,17.13,6.90,582,164,10.73,0.44,5.39,1.14,0.26,Tidak Optimal
779,780,16,38,46,7.73,0.39,1.72,46.30,3.92,7.93,335,572,11.61,0.26,3.77,2.20,0.27,Tidak Optimal
780,781,20,34,46,7.80,0.39,2.66,36.30,10.35,3.68,622,425,12.59,0.37,5.44,5.72,0.30,Tidak Optimal

# **Data Preparataion**

## Columns Name

In [39]:
df['Mg ppm'].describe()

count     781.000000
mean      821.025608
std       742.228950
min        60.000000
25%       364.000000
50%       568.000000
75%      1010.000000
max      4836.000000
Name: Mg ppm, dtype: float64

In [26]:
# Konversi EC
df['EC mS/cm']=df['EC mS/cm']*10
df['EC mS/cm'].describe()

count    781.000000
mean       4.532522
std        3.048878
min        1.300000
25%        3.400000
50%        4.000000
75%        5.000000
max       56.200000
Name: EC mS/cm, dtype: float64

In [27]:
df

,ID,Sand %,Clay %,Silt %,pH,EC mS/cm,O.M. %,CACO3 %,N_NO3 ppm,P ppm,K ppm,Mg ppm,Fe ppm,Zn ppm,Mn ppm,Cu ppm,B ppm,Class
0,1,42,38,20,5.16,2.7,3.78,0.00,14.46,18.61,147,1115,91.32,0.89,27.06,1.77,0.40,Tidak Optimal
1,2,54,26,20,6.07,3.6,1.45,0.00,14.59,32.74,180,1055,60.04,3.66,17.58,1.68,0.41,Optimal
2,3,28,36,36,6.92,6.8,1.77,0.40,14.91,19.02,183,1215,61.24,3.06,18.00,1.84,0.46,Optimal
3,4,58,20,22,7.70,3.6,0.72,6.80,4.21,6.28,116,327,19.54,1.64,5.04,0.84,0.50,Tidak Optimal
4,5,33,41,26,7.61,3.9,1.00,4.39,6.11,6.55,228,939,25.84,0.18,7.16,1.22,0.40,Tidak Optimal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,777,26,46,28,6.72,4.5,2.08,0.00,7.66,20.67,395,500,38.07,0.39,26.48,1.47,0.33,Optimal
777,778,40,28,32,7.79,3.4,1.38,30.00,5.20,4.14,286,154,12.79,0.24,6.33,0.60,0.12,Tidak Optimal
778,779,34,28,38,7.63,11.4,1.87,24.30,17.13,6.90,582,164,10.73,0.44,5.39,1.14,0.26,Tidak Optimal
779,780,16,38,46,7.73,3.9,1.72,46.30,3.92,7.93,335,572,11.61,0.26,3.77,2.20,0.27,Tidak Optimal
780,781,20,34,46,7.80,3.9,2.66,36.30,10.35,3.68,622,425,12.59,0.37,5.44,5.72,0.30,Tidak Optimal

## Splitting Feature & Class

In [28]:
X = df.iloc[:,1:17] # Features
Y = pd.DataFrame(df['Class']) # Target variable

In [29]:
X

,Sand %,Clay %,Silt %,pH,EC mS/cm,O.M. %,CACO3 %,N_NO3 ppm,P ppm,K ppm,Mg ppm,Fe ppm,Zn ppm,Mn ppm,Cu ppm,B ppm
0,42,38,20,5.16,2.7,3.78,0.00,14.46,18.61,147,1115,91.32,0.89,27.06,1.77,0.40
1,54,26,20,6.07,3.6,1.45,0.00,14.59,32.74,180,1055,60.04,3.66,17.58,1.68,0.41
2,28,36,36,6.92,6.8,1.77,0.40,14.91,19.02,183,1215,61.24,3.06,18.00,1.84,0.46
3,58,20,22,7.70,3.6,0.72,6.80,4.21,6.28,116,327,19.54,1.64,5.04,0.84,0.50
4,33,41,26,7.61,3.9,1.00,4.39,6.11,6.55,228,939,25.84,0.18,7.16,1.22,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,26,46,28,6.72,4.5,2.08,0.00,7.66,20.67,395,500,38.07,0.39,26.48,1.47,0.33
777,40,28,32,7.79,3.4,1.38,30.00,5.20,4.14,286,154,12.79,0.24,6.33,0.60,0.12
778,34,28,38,7.63,11.4,1.87,24.30,17.13,6.90,582,164,10.73,0.44,5.39,1.14,0.26
779,16,38,46,7.73,3.9,1.72,46.30,3.92,7.93,335,572,11.61,0.26,3.77,2.20,0.27
780,20,34,46,7.80,3.9,2.66,36.30,10.35,3.68,622,425,12.59,0.37,5.44,5.72,0.30

## **Missing Value**

In [33]:
jumlah_missing = pd.isnull(df).sum()
jumlah_missing

ID           0
Sand %       0
Clay %       0
Silt %       0
pH           0
EC mS/cm     0
O.M. %       0
CACO3 %      0
N_NO3 ppm    0
P ppm        0
K ppm        0
Mg ppm       0
Fe ppm       0
Zn ppm       0
Mn ppm       0
Cu ppm       0
B ppm        0
Class        0
dtype: int64

In [31]:
df['Mn ppm'].fillna(int(df['Mn ppm'].mean()), inplace=True)

## **Duplicate Data**

In [35]:
# Cek Data Duplicate
ids = df["ID"]
df[ids.isin(ids[ids.duplicated()])]

Empty DataFrame
Columns: [ID, Sand %, Clay %, Silt %, pH, EC mS/cm, O.M. %, CACO3 %, N_NO3 ppm, P ppm, K ppm , Mg ppm, Fe ppm, Zn ppm, Mn ppm, Cu ppm, B ppm, Class]
Index: []

## Cek Tipe Data

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         781 non-null    int64
 1   Sand %     781 non-null    int64
 2   Clay %     781 non-null    int64
 3   Silt %     781 non-null    int64
 4   pH         781 non-null    float64
 5   EC mS/cm   781 non-null    float64
 6   O.M. %     781 non-null    float64
 7   CACO3 %    781 non-null    float64
 8   N_NO3 ppm  781 non-null    float64
 9   P ppm      781 non-null    float64
 10  K ppm      781 non-null    int64
 11  Mg ppm     781 non-null    int64
 12  Fe ppm     781 non-null    float64
 13  Zn ppm     781 non-null    float64
 14  Mn ppm     781 non-null    float64
 15  Cu ppm     781 non-null    float64
 16  B ppm      781 non-null    float64
 17  Class      781 non-null    object
dtypes: float64(11), int64(6), object(1)
memory usage: 110.0+ KB

###  **Modelling**

Membangun Train Test Data

Membangun Model Classifier